@import 'reset.scss';
@import './variables/global.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

.app {
  background: var(--bg-color);
  color: var(--color-primary);
  font: var(--font-m);
  height: 100vh;
}

.contentPage {
  display: flex;
}

.pageWrapper {
  flex-grow: 1;
}