.menuItem {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
}

.menuIcon {
    fill: var(--inverted-color-primary);
}

.collapsed {
    .menuLinkText {
        width: 0;
        opacity: 0;
        transition: opacity .2s;
    }
}
