.app_dark_theme {
    --bg-color: #261a13;
    --inverted-bg-color: #b4af96;
    --color-primary: #b4af96;
    --color-secondary: #6c6755;
    --inverted-color-primary: #422d22;
    --inverted-color-secondary: #4b3a30;
    --skeleton-color: #34251d;
    --skeleton-shadow: #3b2a21;
}
