.app.light {
  --bg-color: #b4af96;
  --inverted-bg-color: #261a13;

  --color-primary: #422d22;
  --color-secondary: #4b3a30;
  --inverted-color-primary: #b4af96;
  --inverted-color-secondary: #6c6755;
}